.footer {
    background-color: #2c2f33; 
    color: #f8f9fa; 
    padding: 20px 0;
    text-align: center;
    position: relative; 
}

.footer-content {
    max-width: 800px; 
    margin: 0 auto; 
}

.footer-links {
    list-style: none; 
    padding: 0; 
    display: flex; 
    justify-content: center;
    margin-top: 10px;
}

.footer-links li {
    margin: 0 15px;
}

.footer-links a {
    color: #f8f9fa; 
    text-decoration: none; 
}

.footer-links a:hover {
    text-decoration: underline;

}