.filter {
  height:100%;
  width: 20vw;
  display: flex;
  flex-direction: column;
  padding: 2vh;
}
.filter button {
  border-radius: 3px;
  border: solid snow 2px;
  background-color: transparent;
  padding: 12px 18px;
  font-size: 18px;
  margin: 1vh 0px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  color: snow;
}
.filter button:hover {
  background-color: snow;
  color: #1C1C1C;
}
.filter button:active {
  transform: translateY(0.3vh);
}
.galery_container {
  display: flex;
  height: fit-content;
  background-color: #000000;
}
.galery {
  background-color: #1C1C1C;
  width: 80vw;
  border-left: solid snow 2px;
  min-height: 130vh;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(34, 1fr);
  gap: 2vh;
  padding: 1.5vh;
}
* {
  font-family: poppins;
  font-weight: 900;
}
.item{
    border: solid snow 2px;
    border-radius: 2px;
    display: flex;
    width: 20vw;
    margin-bottom: 5vh;
    padding: 2vh;
    height: fit-content;
    color: black;
    background-color: #000000;
  flex-direction: column;
  justify-content:flex-end;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}
h3, p, strong {
  color: black;
}
.item:hover{
    background-color: black;
  color: snow;
}
.character-image,
.spell-image,
.potion-image {
  position: relative;
  left: 0;
  top: 0;
  width: 200px; 
  border-radius: 3px;
  height: auto; 
  margin-bottom: 10px; 
}
.item-name {
  font-size: 1.2em; 
  margin: 0; 
  padding: 6px 10px;
  border-radius: 4px;
  background-color: rgba(240, 248, 255, 0.541);
  transform: translateY(10vh);
  font-weight: bold;
}

.item-description {
  font-size: 0.9em; 
  color: black; 
  padding: 6px 10px;
  border-radius: 4px;
  background-color: rgba(240, 248, 255, 0.541);
  transform: translateY(10vh);
}
#Gryffindor{
  background-color: #7F0909;
  border: 3px solid #7F0909;
}
#Hufflepuff {
  background-color: #FFDB00;
  border: 3px solid #FFDB00;
}
#Ravenclaw {
  background-color: #0E1A40;
  border: 3px solid #0E1A40;
}
#Slytherin{
  background-color:  #2A623D;
  border: 3px solid  #2A623D;
}